.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-field label {
  margin-bottom: 2px;
  font-weight: bold;
  color: #333;
}

.input-field input {
  border: 1px solid #4CAF50;
  border-radius: 30px;
  height: 40px;
  background-color: #f6f5f5;
  padding-left: 10px;
  outline: none;
}