.container {
    padding: 16px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.livros-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

.livros-table thead tr {
    background-color: #fff;
}

.livros-table th,
.livros-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.livros-table tbody tr {
    background-color: #fff;
}

.livros-table tbody tr:hover {
    background-color: #00ff0a;
}

.editar-btn,
.excluir-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
}

.editar-btn img,
.excluir-btn img {
    width: 20px;
    height: 20px;
}

.editar-btn:hover img {
    filter: brightness(3.0);
}

.excluir-btn:hover img {
    filter: brightness(0.8);
}

.cadastro-btn {
    align-self: start;
    display: block;
    text-align: center;
    margin: 20px 0;
    border-radius: 30px;
    background-color: #ffffff;
    color: #050505;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
}

.cadastro-btn {
    display: block;
    margin: 20px 0;
    width: 200px;
}

.cadastro-btn:hover {
    opacity: 0.8;
}
