form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #4CAF50;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #4CAF50;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card p {
  font-weight: bold;
}

.card span {
  font-weight: normal;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.container{
  overflow-x: hidden;
}

#btn-salvar{
  margin-top: 20px;
}

#span_editar {
  font-weight: normal;
  color: #555;
}